/* **************tablet************** */

@media all and (max-width: 980px) {
    .large-device{
        display: none;
    }
    .small-device{
        display: initial;
    }
    .headline{
        font-size: 20px;
    }
    .contact-rignt{
        margin-top: 20px;
    }
}

/* ************mobile************ */

@media only screen and (max-width: 600px) {
    .section-title{
        font-weight: 300;
        margin-bottom: 40px;
        margin-top: 30px;
        font-size: 30px;
        text-align: center;
    }
    .portfolio-tabs .nav-pills{
        width: auto;
        margin: 0 auto;
    }
}